body {
    font-family: Arial, sans-serif;
    background-color: #aecec1;
    margin: 0;
    padding: 0;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
  }
  .column {
    flex: 1;
    background-color: #c8e0b6;
    border-radius: 5px;
    padding: 20px;
    margin: 0 10px;
    box-shadow: 0 2px 5px rgba(47, 44, 44, 0.54);
  }
  header {
    background-color: #b79c71;
    color: #1f1e17;
    padding: 20px;
  }
  header h1 {
    margin: 0;
  }
  footer {
    background-color: #7fa7b9;
    color: #393333;
    padding: 10px;
    text-align: center;
  }